<div class="users-form z-depth-1">
  <div class="actions">
    <%= link_to "LEARN NEW WORD", "#", class: "btn-large" %><br/><br/>
    <%= link_to "REVIEW LEARNED WORD", "#", class: "btn-large" %><br/><br/>
    <%= link_to "TEST", "#", class: "btn-large" %><br/><br/>
    <%= link_to "AWESOME THING", "#", class: "btn-large" %>
  </div>
</div>